<header class="bg-white">
    <nav class="flex justify-between items-center w-[92%] mx-auto p-3">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
            <a href="#">
                <div id="welcome-text" class="flex flex-col text-orange-500">
                    <img src="../../assets/images/BNI_logo.svg" class="w-16" alt="logo B" >
                    <h2 class="text-2xl sm:text-3xl font-semibold">Travelink</h2>
                </div>
            </a>
        </div>
        <div id="nav-links" class="nav-links duration-500 md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
            <ul class="flex md:flex-row flex-col md:items-center md:gap-4 gap-8">
                <li><a class="hover:text-orange-400" href="#">Pemesanan</a></li>
            </ul>
        </div>
        <div class="flex items-center gap-6">
            <div class="relative ml-4">
                <img class="w-10 h-10 rounded-full bg-cover" src="../../assets/images/nopic.png"alt="nopicuser"/>
            </div>                       
        </div>
    </nav>
</header>