<header class="font-primary">
    <nav class="flex justify-between items-center w-[92%] mx-auto p-5">
        <div>
            <a href="#"><h2 class="text-3xl text-orange-500 font-semibold">BNI Travelink</h2></a>
           
        </div>
        <!-- <div class="">
            <ul class="flex items-center gap-[4vw]">
                <li>
                    <a class="hover:text-orange-500" href="#">Pemesanan</a>
                </li>
                <li>
                    <a class="hover:text-orange-500" href="#">Tentang</a>
                </li>
                <li>
                    <a class="hover:text-orange-500" href="#">Pemesanan</a>
                </li>
            </ul>
        </div> -->
        <div>
            <button class="bg-orange-500 text-white px-5 py-2 rounded-md hover:bg-orange-400">Masuk</button>
        </div>
    </nav>
</header>